    
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>    
    
<body>
    <header th:fragment="encabezadoHeader">
        <img src="../../media/banner.jpg" alt="Banner" width="100%">
    </header>

    <nav class="navbar navbar-expand-md navbar-light p-3 sticky-top bg-dark" id="lista" th:fragment="encabezadoNav">
        <div class="container">
            <a class="navbar-brand" href="#"> <span class="fs-5 text-danger fw-bold" id="logo">JavaPADEL</span>
            </a>
            <button class="navbar-toggler bg-danger" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')" class="nav-item"><a class="nav-link text-white" th:href="@{/inicio}">Inicio</a></li>
                    <li sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')" class="nav-item"><a class="nav-link text-white" th:href="@{/private/list}">Productos</a></li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item"><a class="nav-link text-white" th:href="@{/admin/nuevo}">Agregar producto</a></li>
                    <li sec:authorize="isAuthenticated()" class="nav-item"><span sec:authorize="isAuthenticated()" class="text-white me-2">Bienvenido </span><span class="text-white" sec:authorize="isAuthenticated()" sec:authentication="name">Nombre</span></li>
                </ul>
                <div class="d-flex">
                	<h2 sec:authentication="name">Nombre</h2>
                    <span sec:authorize="isAuthenticated()" class="text-white me-2 mt-3">Bienvenido </span><span class="text-white me-5 mt-3" sec:authorize="isAuthenticated()" sec:authentication="name">Nombre</span>
                    <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger"><a th:href="@{/logout}"><span class="text-white fw-bold" id="logOut">Salir</span></a></button>
                </div>
            </div>
        </div>
    </nav>
</body>