<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title></title>


<!-- Bootstrap -->
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link href="../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- Plantilla correspondiente a mostrar en detalle un producto cuando 
pinchamos encima del mismo 
Se han explicado los detalles en el ejemplo de listado complejos 
colgado en el aula virtual, es el mismo ejemplo. Aún así
se vuelven a detallar algunos elementos-->

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">triana.salesianos.edu Shop</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Opciones <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/admin/categoria/"
								th:href="@{/admin/categoria/}">Gestión de categorías</a></li>
							<li><a href="/admin/producto/" th:href="@{/admin/producto/}">Gestión
									de productos</a></li>
						</ul></li>
				</ul>
			</div>

		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<img src="http://placehold.it/400x400" alt=""
					th:src="${#strings.isEmpty(producto.imagen)} ? 'http://placehold.it/350x260' : ${producto.imagen}"
					class="img-responsive" />
			</div>
			<div class="col-md-8">
				<h1 class="product-name" th:text=${producto.nombre}>Nombre del
					producto</h1>
				<div class="product-price">
					<div class="row">
						<div class=col-md-4>
<!-- Para mostrar el precio miramos si el producto tiene descuento y usamos el operador (?)
Si el descuento es cero se muestra como se ha visto normalmente usando ${#numbers.formatCurrency(producto.pvp)}, es decir, la expresión de numbers
paar mostrar número en formato de moneda y, si no es así, es decir, si el producto tiene descuento calculamos el nuevo precio, sacando factor común en la operación
pvp-pvp*descuento, que queda como se puede ver después de los :${#numbers.formatCurrency(producto.pvp * (1 - producto.descuento)) también en formato moneda

 -->						
							<span class="pvp"
								th:text="${producto.descuento == 0} ? ${#numbers.formatCurrency(producto.pvp)} : ${#numbers.formatCurrency(producto.pvp * (1 - producto.descuento))}">100€</span>
						</div>
						<th:block th:if="${producto.descuento > 0}">
							<div class="col-md-3 pvp-no-discounted">
								<span th:text="${#numbers.formatCurrency(producto.pvp)}">120€</span>
							</div>
<!-- Se muestra el descuento en forma de porcentaje usando la expresión de #numbers
#numbers.formatPercent(producto.descuento,1,0)
El primer número, el 1 significa cifras mínimas que se mostrarán y la segunda, el número de decimales
-->

							<div class="col-md-3 discount">
								<span class="label-discount">Descuento </span> <span
									class="label label-danger"
									th:text=${#numbers.formatPercent(producto.descuento,1,0)}>12%</span>
							</div>
						</th:block>
					</div>
				</div>
<!-- Esta parte está explicada en el video de Openwebinars 
Se trata de "rellenar o pintar" las estrellas de puntuación, para ello usamos un bucle que recorrerá las 5 estrellas que tendrá un producto
como máximo (para nosotros cada i del th:each es una estrella). Para cada i

Usamos th:classappend que es una forma que ofrece Th para usar condicionales "dinámicamente". Supongamos que un producto tiene 3.5 de puntuación media:

primer número i del bucle i=1 es menor que 3.5 por lo que pintamos la estrella rellena glyphicon-star, seguimos en el mismo producto, para el i=2
la puntación media vuelve a ser mayor, volvemos a pintar la estrella rellena e igual para 3. Para 4 ya no se cumplirá la primer acondición por 
lo que se pintará la estrella vacía al igual que la 5 (nuestro programa no pinta estrella a la mitad) pero si pinta el 
número con decimales que da la puntauación media en el siguiente span

 -->
				<div class="row">
					<div class="detail-rating col-md-4">
						<span th:each="i:${#numbers.sequence(1,5)}" class="glyphicon"
							th:classappend="${i <= producto.getPuntuacionMedia()} ? 'glyphicon-star': 'glyphicon-star-empty'"></span>
					</div>

					<div class="detail-rating col-md-4">
						<p>
							<span
								th:text="${#numbers.formatDecimal(producto.getPuntuacionMedia(),1,1)}">4</span>/5
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3>Características</h3>
				<p th:text="${producto.descripcion}">Descripción</p>
			</div>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


</body>
</html>